<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750890832009-35gel239qcb76ravka0tfkk5ip51ilgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750890832009-35gel239qcb76ravka0tfkk5ip51ilgv</string>
	<key>API_KEY</key>
	<string>AIzaSyAEn_duWzKno0bJ_q4PyLoRM_-bigSquRY</string>
	<key>GCM_SENDER_ID</key>
	<string>750890832009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gostor.ios</string>
	<key>PROJECT_ID</key>
	<string>gostor-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>gostor-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750890832009:ios:a90ed24beef804de1ab658</string>
</dict>
</plist>